* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(216, 12%, 54%);

  display: flex;
  flex-direction: column;

  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.card {
  background-color: hsla(213, 19%, 18%, 0.8);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 400px;
  padding: 2rem;
}

.star,
.btn {
  align-self: flex-start;
  background-color: hsla(216, 12%, 54%, 0.1);
  border: none;
  border-radius: 50%;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  height: 50px;
  width: 50px;
}

.star:hover {
  cursor: pointer;
}

.star-selected {
  background-color: hsl(0, 0%, 100%);
}

.heading {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.text p {
  line-height: 1.5rem;
}

.rating-btns-container {
  display: flex;
  justify-content: space-between;
}

.btn:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s linear;
}

.selected {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
}

.submit-btn {
  border: none;
  border-radius: 20px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 0.9rem 0;
}

.submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.hidden {
  display: none;
}

.thank-you-card {
  align-items: center;
  padding: 3rem 2rem;
  text-align: center;
}

.result-text {
  background-color: hsla(216, 12%, 54%, 0.1);
  border-radius: 20px;
  color: hsla(25, 97%, 53%, 0.7);
  padding: 0.4rem 1.2rem;
}

.text h2 {
  margin-bottom: 0.5rem;
}

.attribution {
  color: hsl(228, 45%, 44%);
  font-size: 12px;
  padding-bottom: 0.3rem;
  text-align: center;
}

.attribution a {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }

  .card {
    gap: 1.5rem;
    max-width: 330px;
    padding: 1.5rem 1.5rem 2rem;
  }

  .icon {
    width: 13px;
  }

  .star,
  .btn {
    height: 42px;
    width: 42px;
  }

  .heading {
    font-size: 1.4rem;
  }

  .text p {
    line-height: 1.2rem;
  }

  .submit-btn {
    font-size: 0.7rem;
  }

  .thank-you-card {
    gap: 1.8rem;
    padding: 2rem 1.5rem 2.5rem;
  }

  .thank-you-card img {
    width: 130px;
  }

  .text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }

  .attribution {
    font-size: 10px;
  }
}
